$black: #0B2027;
$blue: #40798C;
$green: #70A9A1;
$dark-green: #548C85;
$red: #ff789d;
$gray: #CFD7C7;
$white: #FEFDF7;
$light-gray: rgba(81, 84, 78, 0.05);

$colors: (
  "blue": $blue,
  "green": $green,
  "red": $red,
  "white": $white,
  "gray": $gray,
  "gray-dark": $black
) !default;

*:focus {
  outline: none !important;
  transform: scale(1.02) !important;
}

.carousel-control-prev, .carousel-control-next {
  position: static;
  display: inline;
  transition: opacity 0.15s ease;
}

.btn {
  border-radius: 50px;
  font-size: 100%;
  padding: 1rem 2rem;
}
.btn-outline-primary {
  border-color: rgba(1, 1, 1, 0.06);
  color: $blue;
  box-shadow: 0px 3px 10px rgba(1, 1, 1, 0.05);
  .arrow {
    color: $red;
  }
}
.btn-outline-primary:hover {
  border-color: $blue;
  background-color: $blue;
  .arrow {
    color: $white;
  }
}
