$black: #0B2027;
$blue: #40798C;
$green: #70A9A1;
$dark-green: #548C85;
$red: #ff789d;
$gray: #CFD7C7;
$white: #FEFDF7;
$light-gray: rgba(81, 84, 78, 0.05);

$colors: (
  "blue": $blue,
  "green": $green,
  "red": $red,
  "white": $white,
  "gray": $gray,
  "gray-dark": $black
) !default;
