@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Suez+One&display=swap');
@import 'bootstrap/scss/bootstrap.scss';
@import '_custom.scss';

.container {
  margin: 0 auto;
}

.underline {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 80%,
    #ff789d 20%
  );
  margin: 0 -2px 0 -2px;
  padding: 0 2px 0 2px;
}

html {
  overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}
body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, rgba(246,250,253,1) 0%, rgba(255,255,255,1) 100%);
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 125%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media(max-width: 319px) {
  body {
    font-size: 14px;
  }
}
@media(min-width: 768px) {
  body {
    font-size: 18px;
  }
}
@media(min-width: 992px) {
  body {
    font-size: 20px;
  }
}
@media(min-width: 1200px) {
  body {
    font-size: 22px;
  }
}

h1 {
  font-size: 200%;
  margin: 0;
  font-family: 'Suez One';
  color: $blue;
  font-weight: 400;
}

h2 {
  font-size: 160%;
  line-height: 100%;
  font-family: Montserrat;
  font-weight: 700;
  color: $black;
}

i {
  text-decoration: none;
  font-style: normal;
}

form .form-wrapper {
  padding: 0 30px;
}

input {
  border-radius: 10px;
  border: 1px solid rgba(1, 1, 1, .1);
  box-shadow: 0 2px 5px rgba(1, 1, 1, 0.1);
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
