@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Suez+One&display=swap');
@import 'bootstrap/scss/bootstrap.scss';
@import './components/_custom-variables';

.container {
  margin: 0 auto;
}

html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  width: 100vw;
  min-width: 460px;
  margin: 0;
  padding: 0;
  background: rgb(246,250,253);
  background: linear-gradient(180deg, rgba(246,250,253,1) 0%, rgba(255,255,255,1) 100%);
  font-family: Avenir, Helvetica, sans-serif;
  line-height: 125%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  line-height: 100%;
  font-family: Montserrat;
  font-weight: 700;
  color: $black;
}

h1 {
  margin: 0;
  font-family: 'Suez One';
  color: $blue;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
