<h1><%= @client.name %></h1>
<ul>
  <li>Address: <%= @client.address %></li>
  <li>Number: <%= @client.number %></li>
  <li>Email: <%= @client.email %></li>
</ul>

<%
require 'twilio-ruby'

# Get your Account Sid and Auth Token from twilio.com/console
account_sid = 'AC5e7547eab32080c7030b33b4f0f987c5'
auth_token = '1dc489e24688f3cee3a0ddac92240dac'

# set up a client to talk to the Twilio REST API
@twilio = Twilio::REST::Client.new(account_sid, auth_token)

call = @twilio.calls.create(
    to: @client.number,
    from: "+12055397238",
    url: "http://demo.twilio.com/docs/voice.xml")
puts "Calling #{@client.number}..."
puts call.to
%>
