@import '../_custom.scss';

.card-client-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  @media (min-width: 458px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 576px) {
    grid-template-columns: 1fr;
  }
  @media (min-width: 767px) {
    grid-template-columns: 1fr 1fr;
  }
}
.card-client {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  background-color: #DBE6E9;
  border-radius: 25px;
  box-shadow: 1px 3px 6px rgba(1, 1, 1, 0.1);
  @media (max-width: 457px) {
    grid-template-columns: 125px auto;
    grid-template-rows: auto 20px 50px 45px;
  }
  @media (min-width: 576px) {
    grid-template-columns: 125px auto;
    grid-template-rows: auto 20px 50px 45px;
  }
  @media (min-width: 767px) {
    grid-template-columns: 150px auto;
    grid-template-rows: auto auto 70px 45px;
  }
}
.card-client-avatar {
  padding: 15px 0 10px;
  min-height: 80px;
  text-align: center;
  img {
    display: block;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    border: 1px white solid;
  }
  @media (max-width: 457px) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
  }
  @media (min-width: 576px) {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
  }
}
.card-client-info {
  text-align: center;
  line-height: 100%;
  padding: 0 10px 10px;
  @media (max-width: 457px) {
    padding: 25px;
    text-align: left;
    border-radius: 0 25px 0 0;
    background: rgba(255, 255, 255, 0.7);
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  @media (min-width: 576px) {
    padding: 25px;
    text-align: left;
    border-radius: 0 25px 0 0;
    background: rgba(255, 255, 255, 0.7);
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
}
.card-client-description {
  background: rgba(255, 255, 255, 0.7);
  p { padding: 20px }
  @media (max-width: 457px) {
    p { padding: 0 25px }
    border-radius: 0 0 25px 0;
    grid-column: 2 / span 1;
    grid-row: 2 / span 3;
  }
  @media (min-width: 576px) {
    p { padding: 0 25px }
    border-radius: 0 0 25px 0;
    grid-column: 2 / span 1;
    grid-row: 2 / span 3;
  }
}
.card-client-tags {
  background: rgba(1, 1, 1, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 20px;
  color: white;
  small {
    flex-grow: 1;
    padding: 0 5px 0;
    line-height: 100%;
    text-align: left;
  }
  img {
    height: 15px;
  }
  @media (max-width: 457px) {
    flex-direction: column;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  @media (min-width: 576px) {
    flex-direction: column;
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
}
.card-client-footer {
  background: $blue;
  a {color: white !important}
  border-radius: 0 0 25px 25px;
  text-align: center;
  p {margin: 10px}
  @media (max-width: 457px) {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    border-radius: 0 0 0 25px;
  }
  @media (min-width: 576px) {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
    border-radius: 0 0 0 25px;
  }
}

.card-splash {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-items: stretch;
  text-align: center;
  align-items: stretch;
  @media (max-width: 457px) {
    flex-direction: row-reverse;
  }
  @media (min-width: 575px) {
    flex-direction: row-reverse;
  }
}
.card-splash-img {
  img { width: 80% }
  a { display: none }
  width: 100%;
  margin: 0 0 1em 0;
  @media (max-width: 457px) {
    img { width: 100% }
    a {
      display: inline;
      margin-top: -.25em;
    }
    width: 85%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 575px) {
    img { width: 100% }
    a {
      display: inline;
      margin-top: -.25em;
    }
    width: 85%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 767px) {
    width: 120%;
    a { display: none }
  }
}
.card-splash-text {
  p {
    text-align: left;
    padding: 0 2.5em 0;
    line-height: 125%;
  }
  a { display: inline }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  @media (max-width: 457px) {
    p { padding: 0 1.5em 0 0 }
    a { display: none }
    text-align: left;
    max-width: 70%;
    align-items: flex-start;
  }
  @media (min-width: 575px) {
    p { padding: 0 1.5em 0 0 }
    a { display: none }
    text-align: left;
    max-width: 70%;
    align-items: flex-start;
  }
  @media (min-width: 767px) {
    p { padding: 0 2em 0 0 }
    a { display: inline }
  }
}

.card-bottom {
  display: flex;
  flex-direction: row;
  background: none;
  @media (max-width: 500px) {
    flex-direction: column-reverse;
  }
}
.card-bottom-img {
  margin: 0 0 -5em 0;
  text-align: center;
  @media (max-width: 500px) {
    margin: 1em 0 -5em 0;
  }

}

.card-xl {
  border-radius: 25px;
  padding: 2.5em;
  background-color: $light-gray;
  align-items: center;
  margin-bottom: 5em;
}

.card-lg {
  border-radius: 25px;
  padding: 2.5em;
  background-color: $light-gray;
  align-items: center;
  @media (min-width: 576px) {
    display: flex;
  }
}
.card-lg-img {
  img {
    width: 60%;
    margin-bottom: 2em;
  }
  text-align: center;
  width: 100%;
  @media (min-width: 576px) {
    img {
      width: 100%;
      margin: 0;
    }
    width: 100%;
    margin-right: 2em;
    text-align: left;
  }
}
.card-lg-text {
  h2 { text-align: center }
  text-align: left;
  @media (min-width: 576px) {
    width: 200%;
    h2 { text-align: left }
  }
}

.card-md {
  border-radius: 25px;
  padding: 2em;
  background-color: $light-gray;
  align-items: center;
  @media (min-width: 400px) {
    display: flex;
    flex-direction: row-reverse;
  }
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}
.card-md-img {
  img {
    display: none;
    margin: -.5em 0 0 0;
  }
  text-align: center;
  width: 100%;
  @media (min-width: 400px) {
    img {
      display: block;
      width: 100%;
    }
    margin: 0 0 0 2em;
    text-align: left;
  }
  @media (min-width: 768px) {
    width: 50%;
    margin: -.5em 2em 0 1em;
  }
}
.card-md-text {
  h2 { text-align: center }
  text-align: left;
  @media (min-width: 400px) {
    width: 200%;
    h2 { text-align: left }
  }
}


.card-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  @media (min-width: 576px) {
    flex-direction: row;
  }
}

.card-sm {
  a { color: $red !important }
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0;
  background-color: transparent;
  background-image: url('../images/card-bg2.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 70%;
  -moz-background-size: 100% 70%;
  -webkit-background-size: 100% 70%;
  @media (min-width: 500px) and (max-width: 766px) {
    margin: 0 0 1em 0;
    flex-direction: row;
    background-image: url('../images/card-bg1.svg');
    background-size: 80% 100%;
    -moz-background-size: 80% 100%;
    -webkit-background-size: 80% 100%;
    background-position: right;
  }
  @media (min-width: 767px) {
    margin: .2em 0;
    width: calc(50% - 1.5em);
    background-size: 100% 80%;
    -moz-background-size: 100% 80%;
    -webkit-background-size: 100% 80%;
  }
}

@media (min-width: 767px) {
  .card-sm:nth-child(even) {
    margin-left: 0.75em;
  }
  .card-sm:nth-child(odd) {
    margin-right: 0.75em;
  }
}

.card-sm-img {
  z-index: 2;
  width: 70%;
  margin: 0 auto;
  @media (min-width: 500px) {
    width: 150%;
  }
  @media (min-width: 767px) {
    width: 50%;
  }
}
.card-sm-text {
  text-align: left;
  padding: 1.5em 2.5em 2.5em;
  @media (min-width: 500px) {
    padding: 2em 2.5em 2.5em;
  }
}
.d-sm-flex {
  display: flex;
  justify-content: space-between;
  fieldset { width: calc(50% - 10px) !important }
}

.card-email {
  background: white;
  font-size: 80%;
  border: 1px solid rgba(1, 1, 1, 0.1);
  border-radius: 5px;
  transform: rotate(-1deg);
  padding: 5%;
  margin-top: 10px;
  box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.4);
}
@media (min-width: 991px) {
  .card-email {
    transform: rotate(0deg);
  }
}

.card-form {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-items: flex-end;
  border-radius: 25px;
  background-image: url('../images/bg-form-lg.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  #card-form-btn-side { display: block; }
  #card-form-btn-bottom { display: none; margin: 0 auto; }
  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    background-image: url('../images/bg-form-sm.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    #card-form-btn-side { display: none; }
    #card-form-btn-bottom { display: block; margin: 15px auto 0; }
  }
  .card-form-form {
    flex-grow: 1;
    padding: 2em;
    width: 75%;
    @media (min-width: 576px) {
      padding: 1em 3em 3em;
    }
    @media (min-width: 767px) {
      padding: 3em 3em 2em;
    }
  }
  .card-form-img {
    background-position: left 40px;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15em;
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3em 3em 3em 0;
    @media (max-width: 767px) {
      background-position: 0 top;
      background-size: 100% 100%;
      padding: 3em 0 0 0;
      height: 12em;
      margin: 0;
      width: 65%;
      align-items: flex-end;
    }
  }
  .card-form-avatar {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @media (max-width: 767px) {
      flex-direction: row-reverse;
    }
  }
  .profile-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    a { margin-bottom: 5px;}
  }

  label {
    padding-bottom: 0;
    margin-bottom: 0;
    @media (max-width: 767px) {
      display: block;
    }
  }
  input {
    /* 20px width from padding */
    width: calc(100% - 20px);
  }
  fieldset {
    margin-bottom: 1em;
    width: 100%;
  }
}

.avatar-lg {
  border: 3px solid #666;
  border-radius: 50%;
  display: block;
  margin: 0 auto 5px;
  width: 160px;
  height: 160px;
}

