@import '../_custom.scss';

.footer {
  border-top: .5px solid lighten($blue, 50%);
  padding-top: 2em;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  font-size: 90%;
  @media (min-width: 576px) {
    flex-direction: row;
  }
  h4 {
    color: $blue;
    font-size: 100%;
    margin-top: .5em;
  }
  p {
    color: $blue;
    padding: 10px 0 0;
  }
  small {
    display: block;
    color: $blue;
    line-height: 100%;
    padding: 5px 0;
  }
}

.footer-legal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 0;
  padding: 3em 0 0 0;
  @media (min-width: 576px) {
    align-items: flex-start;
    padding: 0 1% 0 0;
    text-align: left;
  }
}

.footer-links {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0 2em;
  @media (min-width: 576px) {
    justify-content: space-around;
    margin: 0;
  }
}

.footer-social {
  img {
    width: 15px;
    margin: 0.25em;
  }
  display: flex;
  align-items: center;
  justify-items: start
}
