@import '../_custom.scss';

#navbar {
  z-index: 99;
  position: relative;
  margin-top: 1em;
}
.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.navbar-item {
    margin: 0.25em;
}

.home-link,
.navbar-link {
    color: $blue;
    transition: color 0.2s ease-in-out;
    text-decoration: none;
    display: flex;
    font-weight: 700;
    font-size: 90%;
    align-items: center;
    transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out;
}

.home-link:focus,
.home-link:hover {
    color: $green;
}

.navbar-link {
    justify-content: center;
    width: 100%;
    padding: 0.4em;
    border-radius: 5px;
}

.navbar-link:focus,
.navbar-link:hover {
    color: $green;
}

.navbar-brand {
  text-decoration: none;
}

.navbar-logo {
    border-radius: 50%;
    margin-right: 0.5em;
}

.navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    transition: background-color 0.2s ease-in-out,
                transform 0.2s ease-in-out,
                opacity 0.2s ease-in-out;
    background-color: $blue;
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
    background-color: $blue;
}

#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
    transform: rotate(45deg);
    background-color: $red;
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
    transform: rotate(-45deg);
    background-color: $red;
}

.navbar-menu {
    z-index: 1;
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out,
                visibility 0.2s ease-in-out;
}

#navbar.opened .navbar-menu {
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
    visibility: visible;
    font-size: 125%;
}

.navbar-links {
    background: white;
    list-style-type: none;
    max-height: 0;
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar.opened .navbar-links {
    padding: 1em;
    max-height: none;
}

.profileMenu a {
  display: block;
  text-align: center;
  padding: 0.5em 1em;
}
.profileMenu.opened {
    display: block;
    padding: 1em;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

.profileMenu {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  font-size: 90%;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0;
  margin: 0.125rem;
  color: #8D8C8A;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(54,53,56,0.15);
  border-radius: 2px;
}


@media screen and (min-width: 576px) {
    .profileMenu {
      left: auto;
    }
    .profileMenu a {
      text-align: right;
    }
    .navbar-toggle {
        display: none;
    }

    #navbar .navbar-menu,
    #navbar.opened .navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    #navbar .navbar-links,
    #navbar.opened .navbar-links {
        background: none;
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        list-style-type: none;
        max-height: max-content;
        width: 100%;
        height: 100%;
    }

    #navbar .navbar-link:last-child {
        margin-right: 0;
    }
}

.dropdown-item {
  text-decoration: none;
}
.dropdown-item:hover {
  font-weight: bolder;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  float: right;
  margin-left: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1)
}
