@import '../_custom.scss';

.card-testimonials {
  display: flex;
  padding: 3em;
  flex-direction: column;
  background: $blue;
  white-space: nowrap;
  h2 {
    color: white;
    margin-bottom: 10%;
    margin-top: 5%;
  }
}

.card-testimonials-head {
  width: 100%;
  margin: 0 0 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-testimony {
  background: white;
  border-radius: 10px;
  padding: 8%;
  margin-right: 2%;
  box-shadow: 0 10px 0 rgba(1, 1, 1, 0.2);
  border: 1px solid $blue;
  .avatar {
    margin: 0 10px 0 0;
    float: left;
  }
  img {
    width: 40px;
    height: 40px;
  }
  p {
    white-space: pre-wrap;
    width: 100%;
    color: rgba(1, 1, 1, 0.9);
  }
}

.bottom-scroll {
  margin-top: 1em;
  display: flex;
  font-size: 200%;
  color: white;
  justify-content: space-between;
}
