@import '../_custom.scss';

.card-testimonials {
  position: relative;
  display: flex;
  padding: 3em;
  flex-direction: column;
  background: $blue;
  white-space: nowrap;
  h2 {
    color: white;
    margin-bottom: 10%;
    margin-top: 5%;
  }
  @media (max-width: 500px) {

  }
}
.card-testimonials-head {
  width: 100%;
  margin: 0 0 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials {
    position: relative;
    width: 100%;
    margin:  0;
    padding: 0;
}
.card-testimony.active {
  display: block;
}
.card-testimony {
  display: none;
  width: calc(100% - 6em);
  transition: opacity 1s;
  background: white;
  border-radius: 10px;
  padding: 3em;
  box-shadow: 0 10px 0 rgba(1, 1, 1, 0.2);
  border: 1px solid #40798C;
  .avatar {
    margin: 0 10px 0 0;
    float: left;
  }
  img {
    width: 40px;
    height: 40px;
  }
  p {
    white-space: pre-wrap;
    width: 100%;
    color: rgba(1, 1, 1, 0.9);
  }
}

.card-testimony-user {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  @media (max-width: 450px) {
    img { margin: 0 0 5px !important }
    flex-direction:column;
    justify-content: center;
    text-align: center; 
  }
}

.carousel-control-prev, .carousel-control-next {
  position: static;
  font-size: 200%;
  text-decoration: none;
  font-weight: 900;
  display: inline;
  transition: opacity 0.15s ease;
}

.bottom-scroll {
  margin-top: 1em;
  display: flex;
  font-size: 200%;
  color: white;
  justify-content: space-between;
}
