$black: #0B2027;
$blue: #40798C;
$green: #70A9A1;
$gray: #CFD7C7;
$white: #FEFDF7;
$light-gray: rgba(81, 84, 78, 0.05);

$colors: (
  "blue": $blue,
  "green": $green,
  "white": $white,
  "gray": $gray,
  "gray-dark": $black
) !default;

.navbar {
  padding: 0;
}

.btn-outline-success {
  background: none;
  border: 1px solid rgba(1, 1, 1, 0.1);
  box-shadow: 0 5px 5px rgba(1, 1, 1, 0.1);
  border-radius: 50px;
  font-size: 14px;
  color: $green;
}
.btn-outline-success:hover {
  background: none;
  border: 1px solid $green;
  box-shadow: 0 0 1px $green;
  border-radius: 50px;
  font-size: 14px;
  color: $green;
}
.btn-success {
  background: $green;
  border: none;
  border-radius: 50px;
  font-size: 14px;
  color: white;
}
