@import './_custom-variables.scss';

.card-lg {
  border-radius: 25px;
  padding: 5vw;
  background-color: $light-gray;
  align-items: center;
}

.card-sm {
  font-size: 12px;
  border: 0;
  background-color: transparent;
  background-image: url('../images/card-bg1.svg');
  background-size: 75% 100%;
  -moz-background-size: 75% 100%;
  -webkit-background-size: 75% 100%;
  background-position: right;
  background-repeat: no-repeat;
}

.card-email {
  text-size: 12px;
  background: white;
  font-size: 80%;
  border: 1px solid rgba(1, 1, 1, 0.1);
  border-radius: 5px;
  transform: rotate(-1deg);
  padding: 5%;
  margin-top: 10px;
  box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.4);
}
@media only screen and (min-width: 991px) {
  .card-email {
    transform: rotate(0deg);
  }
}
