@import '../_custom.scss';

.card-slider {
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  justify-items: flex-end;
  border-radius: 25px;
  background-image: url('../images/bg-form-lg.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    background-image: url('../images/bg-form-sm.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
  .card-slider-form {
    flex-grow: 1;
    padding: 3em 3em 2em;
    width: 100%;
    @media screen and (max-width: 767px) {
      padding: 1em 4em 4em;
    }
  }
  .card-slider-img {
    background-image: url('../images/profile-side.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 17em;
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0 0 3em 0;
    @media screen and (max-width: 767px) {
      background-image: url('../images/profile-top.svg');
      height: 12em;
      margin: -1em 0 .5em;
    }
  }

  label {
    padding-bottom: 0;
    margin-bottom: 0;
    @media screen and (max-width: 767px) {
      display: block;
    }
  }
  input {
    width: 100%;
  }
  fieldset {
    margin-bottom: 1em;
  }
}

.card-lg {
  border-radius: 25px;
  padding: 5vw;
  background-color: $light-gray;
  align-items: center;
  img {
    width: 65%;
    margin-bottom: 1em;
  }
  @media screen and (max-width: 575px) {
    img {
      width: 55%;
    }
  }

}
// xs and md screens (up to 575, then 768 - 991px)
.card-sm {
  a {
    color: $red;
  }
  background-image: url('../images/card-bg2.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 85%;
  -moz-background-size: 100% 85%;
  -webkit-background-size: 100% 85%;
  .card-sm-img {
    z-index: 2;
    padding: 0 15% 0;
  }
  .card-sm-img img {
    width: 80% !important;
  }
  @media screen and (max-width: 575px) {
    .card-sm-img img {
      width: 60% !important;
    }
    .card-sm-text {
      padding: 1em 3em 2em;
    }
  }
}
// sm screens (576-767px)
@media screen and (min-width: 576px) and (max-width: 767px) {
  .card-sm {
    font-size: 100%;
    line-height: 120%;
    border: 0;
    background-color: transparent;
    background-image: url('../images/card-bg1.svg');
    background-size: 75% 100%;
    -moz-background-size: 75% 100%;
    -webkit-background-size: 75% 100%;
    background-position: right;
    .card-sm-img {
      z-index: 2;
    }
  }
}
// lg+ screens (992+)
@media screen and (min-width: 992px) {
  .card-sm {
    font-size: 80%;
    line-height: 125%;
    border: 0;
    background-color: transparent;
    background-image: url('../images/card-bg1.svg');
    background-size: 75% 100%;
    -moz-background-size: 75% 100%;
    -webkit-background-size: 75% 100%;
    background-position: right;
    .card-sm-img {
      z-index: 2;
    }
  }
}

.card-email {
  background: white;
  font-size: 80%;
  border: 1px solid rgba(1, 1, 1, 0.1);
  border-radius: 5px;
  transform: rotate(-1deg);
  padding: 5%;
  margin-top: 10px;
  box-shadow: 1px 1px 1px rgba(1, 1, 1, 0.4);
}
@media only screen and (min-width: 991px) {
  .card-email {
    transform: rotate(0deg);
  }
}
