@import './_custom-variables.scss';

.splash {
  img {
    width: 100%;
  }
  p {
    padding: 8% 0 6%;
    width: 100%;
    font-size: 16px;
    font-family: Avenir;
    line-height: 125%;
  }
  img {
    flex-grow: 1;
  }
}
