.splash {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-items: stretch;
  text-align: center;
  align-items: stretch;
  @media (min-width: 575px) {
    flex-direction: row-reverse;
  }
}
.splash-img {
  img {
    width: 100%;
  }
  width: 100%;
  margin: 0 0 1em 0;
  @media (min-width: 575px) {
    width: 85%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 767px) {
    width: 120%;
  }
}
.splash-text {
  p {
    text-align: left;
    padding: 1.5em 0;
    line-height: 125%;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  @media (min-width: 575px) {
    text-align: left;
    padding-right: 2em;
    max-width: 70%;
  }
  @media (min-width: 1200px) {
  }
}
