@import './_custom-variables.scss';

.title-card {
  border-radius: 25px;
  padding: 5vw;
  background-color: $light-gray;
  display: flex;
  align-items: center;
  .title-card-img {
    width: 40%;
  }
  img {
    width: 100%;
  }
  .title-card-text {
    width: 60%;
    line-height: 125%;
    font-family: Avenir;
  }
  p {
    padding: 8% 0 6%;
    width: 100%;
    font-size: 16px;
    font-family: Avenir;
    line-height: 125%;
  }
}
