@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Suez+One&display=swap');
@import '_custom.scss';

*:focus {
  outline: none !important;
  transform: scale(1.02) !important;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, rgba(246,250,253,1) 0%, rgba(255,255,255,1) 100%);
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 125%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 90vw;
  margin: 0 auto;
  padding: 1em 0 3em;
}

.container {
  margin: 0 auto;
}

.underline {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 80%,
    #ff789d 20%
  );
  margin: 0 -2px 0 -2px;
  padding: 0 2px 0 2px;
}

@media(min-width: 360px) {
  body {
    font-size: 16px;
  }
}

@media(min-width: 576px) {
  .wrapper {
    width: 500px;
    margin: 0 auto;
  }
}
@media(min-width: 768px) {
  .wrapper {
    width: 700px;
    margin: 0 auto;
  }
}
@media(min-width: 992px) {
  body {
    font-size: 20px;
  }
  .wrapper {
    width: 900px;
    margin: 0 auto;
  }
}
@media(min-width: 1200px) {
  body {
    font-size: 22px;
  }
  .wrapper {
    width: 1000px;
    margin: 0 auto;
  }
}

h1 {
  font-size: 200%;
  margin: 0;
  font-family: 'Suez One';
  color: $blue;
  font-weight: 400;
}

h2 {
  font-size: 160%;
  line-height: 100%;
  font-family: Montserrat;
  font-weight: 700;
  color: $black;
  margin-bottom: 1em;
}

h3 {
  font-size: 120%;
  font-weight: 700;
  color: $black;
  margin-bottom: 0.5em;
}

hr.spacer {
  margin: 3em 0;
  border: none;
}

i {
  text-decoration: none;
  font-style: normal;
}

a {
  color: $green;
}
a:visited {
  color: $green;
  opacity: 0.7;
}

form .form-wrapper {
  padding: 0 30px;
}

form .invalid {
  border: 1px $red solid;
}
form .valid {
  border: 1px $green solid;
}

input {
  border-radius: 10px;
  border: 1px solid rgba(1, 1, 1, .1);
  box-shadow: 0 2px 5px rgba(1, 1, 1, 0.1);
  padding: 10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.btn {
  border-color: rgba(1, 1, 1, 0.06);
  text-decoration: none;
  border-radius: 50px;
  font-size: 100%;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  box-shadow: 0px 3px 10px rgba(1, 1, 1, 0.05);
}
.btn:hover {
  color: white;
  .arrow {
    color: $white;
  }
}
.btn-sm {
  border-radius: 50px;
  font-size: 80%;
  padding: 0.3rem 1rem;
}
.btn-outline-primary {
  text-decoration: none;
  color: $blue;
  .arrow { color: $red }
}
.btn-outline-primary:hover {
  border-color: $blue;
  background-color: $blue;
}
.btn-success {
  background-color: $green;
  color: $white;
}
.btn-success:hover {
  background-color: lighten($green, 10%);
}
.btn-primary {
  background-color: $blue;
  color: $white;
}
.btn-primary:hover {
  background-color: lighten($blue, 10%);
}
.btn-secondary {
  background-color: #999;
  color: $white;
}
.btn-secondary:hover {
  background-color: lighten(#666, 10%);
}
.btn-danger {
  background-color: $red;
  color: $white;
}
.btn-danger:hover {
  background-color: lighten($red, 10%);
}
