@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Suez+One&display=swap');
@import '_custom.scss';
@import './components/forms/form.scss';
@import './components/buttons.scss';

*:focus {
  outline: none !important;
  transform: scale(1.02) !important;
}

body {
  margin: 0.5em 0;
  padding: 0;
  background: linear-gradient(180deg, rgba(246,250,253,1) 0%, rgba(255,255,255,1) 100%);
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 125%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 80vw;
  margin: 0 auto;
  padding: 1em 0 3em;
}

@media(min-width: 360px) {
  body { font-size: 16px }
}
@media(min-width: 576px) {
  .wrapper { width: 500px }
}
@media(min-width: 768px) {
  .wrapper { width: 700px }
}
@media(min-width: 992px) {
  body { font-size: 20px }
  .wrapper { width: 900px }
}
@media(min-width: 1200px) {
  body { font-size: 22px }
  .wrapper { width: 1000px }
}

h1 {
  font-size: 200%;
  margin: 0;
  font-family: 'Suez One';
  color: $blue;
  font-weight: 400;
}

h2 {
  font-size: 160%;
  line-height: 100%;
  font-family: Montserrat;
  font-weight: 700;
  color: $black;
  margin-bottom: 1em;
}

h3 {
  font-size: 120%;
  font-weight: 700;
  color: $black;
  margin-bottom: 0.5em;
}

hr.spacer {
  margin: 2em 0;
  border: none;
}

i {
  text-decoration: none;
  font-style: normal;
}

a {
  color: $green;
}
a:visited {
  opacity: 0.7;
}

.underline {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 80%,
    #ff789d 20%
  );
  margin: 0 -2px 0 -2px;
  padding: 0 2px 0 2px;
}

.text-green {
  color: $green;
}
.text-red {
  color: $red;
}

.flex-item-fill {
  flex: 1 1 auto;
}
.flex-item-small {
  flex: 0 0 auto;
}
