@import '../../_custom.scss';

form .form-wrapper {
  padding: 0 30px;
}

form .invalid {
  border: 1px $red solid;
}
form .valid {
  border: 1px $green solid;
}
textarea {
  width: calc(100% - 2.5em);
  height: 100%;
  resize: none;
  padding: 1em;
}
input {
  padding: 0 10px;
  height: 40px;
}
input, textarea {
  border-radius: 10px;
  border: 1px solid rgba(1, 1, 1, .1);
  box-shadow: 0 2px 5px rgba(1, 1, 1, 0.1);
  font-family: inherit;
  font-size: 1em;
}

.react-select__control {
  font-family: inherit;
  font-size: 1em;
  border-radius: 10px !important;
  border: 1px solid rgba(1, 1, 1, .1) !important;
  box-shadow: 0 2px 5px rgba(1, 1, 1, 0.1);
  background: white;
  z-index: 2;
}
.react-select__value-container {
  height: 40px;
}
.react-select__single-value {
  color: black !important;
}
.react-select__menu {
  z-index: 2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.form-label {
  display: inline-block;
}

/* Customize radios and checkboxes */
.checkbox, .radio {
  display: inline-block;
  position: relative;
  margin-right: 1em;
  cursor: pointer;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input { display: none }
}
.disabled { opacity: 0.4 }
.checkbox:last-child, .radio:last-child {
  margin-right: 0;
}

/* Create a custom checkbox */
.checkmark, .dot, .alert {
  display: table;
  height: 25px;
  width: 25px;
  margin: 0 auto;
  border: 1px solid rgba(1, 1, 1, 0.1);
  box-shadow: 0 2px 5px rgba(1, 1, 1, 0.1);
  text-align: center;
  background-color: #fff;
}

.checkmark {
  border-radius: 10px;
}
.dot, .alert {
  border-radius: 50%;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after, .dot:after {
  display: none;
  content: "✓";
}
.alert:after {
  display: none;
  content: "!";
}
/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after,
.radio input:checked ~ .dot:after {
  display: block;
  font-size: 225%;
  color: $blue;
}
.radio input:checked ~ .alert:after {
  display: block;
  font-size: 225%;
  font-weight: 900;
  text-shadow: 1px 0px $red;
  color: $red;
}

.d-xs-flex {
  display: block;
  @media (min-width: 576px) {
    display: flex;
    justify-content: space-between;
    > :first-child { padding-right: 15px }
  }
  @media (min-width: 450px) {
    display: flex;
    justify-content: space-between;
    > :first-child { padding-right: 15px }
  }
  @media (min-width: 767px) {
  }
}

.radio-grid {
  font-size: .8em;
  display: flex;
  align-items: flex-end;
  label { width: 25% }
}
