.reminder-toggle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1em;
}
.reminder-row {
  position: relative;
  background-color: #F6F9F9;
  border: 1px rgba(1, 1, 1, .1);
  padding: 1em;
  box-shadow: 0 2px 5px rgba(1, 1, 1, 0.1);
}
.reminder-selected {
  z-index: 2;
  background-color: white;
  box-shadow: 0 2px 10px rgba(1, 1, 1, 0.1);
}
.reminder-selected:after {
  content: "▼";
  display: block;
  position: absolute;
  top: calc(100% - 0.35em);
  left: 50%;
  text-shadow: 0 4px 10px rgba(1, 1, 1, 0.1);
  -webkit-transform: translateX(-50%) scale(2,1); /* Safari and Chrome */
  -moz-transform: translateX(-50%) scale(2,1); /* Firefox */
  -ms-transform: translateX(-50%) scale(2,1); /* IE 9 */
  -o-transform: translateX(-50%) scale(2,1); /* Opera */
  transform: translateX(-50%) scale(2,1); /* W3C */
  color: white;
  font-size: 150%;
}
.reminder-row:first-child {
  border-radius: 10px 0 0 10px;
}
.reminder-row:last-child {
  border-radius: 0 10px 10px 0;
}
